@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
    --bg-color: white;
    --link-color: #3949FA;
    --link-hover-color: #FFDB54;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Lato", sans-serif;
    --main-text-color: #000;
    --white-space: 1rem;
    --color-4: deeppink;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.impr {
    background-color: var(--link-hover-color);
}

.improv {
    background-color: var(--link-color);
}

.fight {
    background-color: var(--color-4);
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    overflow-x: hidden;
}

.homepage {
    overflow-x: hidden;
}

header img {
    max-width: 20%;
    display: block;
    margin: 50px auto 0 auto;
}

header img.front {
    max-width: 30%;
}

main,
section {
    max-width: none;
    margin: 0;
}

article {
    margin: 2%;
}

main,
section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
}

main{
    margin-top: 50px;
}

.recipe {
    /*display: block;
    column-count: 2;*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2%;
    grid-row-gap: 5%;
}

.recipe .image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.recipe h2 {
    font-size: 55px;
    /*margin-top: 0;*/
}

article {
    display: flex;
    flex-flow: column;
}

article > img {
    order: -1;
    align-self: center;
}

article {
    padding: 2rem;
}

article > h3 {
    margin: 1rem 1rem 0;
}

article > p {
    margin: 0.25em 1rem 1rem;
}

main {
    font-family: var(--primary-font);
    font-size: 80%;
}

article {
    background-color: white;
}

/*article > button {
    margin-top: auto;
    background: black;
    color: white;
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

article > button:hover {
    background-color: var(--link-hover-color);
    color: var(--link-color);
}*/


/*h1 {
    font-family: var(--primary-font);
    font-size: 75px;
    text-align: center;
    padding-top: 4%;
    color: black;
}*/

#subheader {
    font-size: 35px;
    padding-top: 0%;
    font-weight: normal;
    font-family: var(--secondary-font);
    margin: auto;
    max-width: 80%;
}

img {
    max-width: 100%;
    height: auto;
}


h2 {
    font-family: var(--primary-font);
    text-align: center;
    color: black;
    margin: 8% 0 2% 0;
    font-size: 75px;
    grid-column: 1/-1;
}



h3 {
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
    color: black;
    height: 60px;
}

p {
    font-size: 18px;
}

li {
    list-style-type: none;

}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    background-color: #3949fa;
    margin-top: 50px;
    align-content: center;
}

.icons img {
    transition: all 0.5s;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons img:hover {
    transform: scale(1.1);
}


#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 30px 0px;
    display: none;
    font-weight: bold;
    opacity: 85%;
}

#topBtn:hover {
    background-color: var(--link-hover-color);
    color: white;
}





.dot {
    border-radius: 50%;
    border: 1px solid var(--link-color);
    width: 20px;
    height: 20px;
    margin: 2px;
}

.active {
    background: blue;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5% 2% 2% 2%;
}

.container p {
    margin-right: 1%;
}

section h2 {
    color: white;
    font-size: 30px;
}

.readMore {
    text-decoration: none;
    color: var(--color-4);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    transition: all 0.3s;
    padding: 5px 0px;
    border: solid var(--color-4) 2px;
    margin-top: 10px;
}

.readMore:hover {
    color: var(--link-hover-color);
    transform: scale(1.1);
    border: solid var(--link-hover-color) 2px;
}

header {
    padding: 5px;
    text-align: center;

}

#logo {
    background-image: url("logofixed.svg");
    background-size: contain;
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

nav {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}

nav a,
nav #logo {
    width: 100%;
}

.menuYellow {
    text-decoration: none;
    color: black;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 25px;
    transition: all 0.3s;
}

.menuYellow:hover {
    color: var(--link-hover-color);
    transform: scale(1.1);
}

.menuBlue {
    text-decoration: none;
    color: black;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 25px;
    transition: all 0.3s;
}

.menuBlue:hover {
    color: var(--link-color);
    transform: scale(1.1);
}


.vegan,
.glutenFree {
    display: none;
    max-width: 20%;
    margin-top: 15px;
}

.show {
    display: block;
}

.vegan {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 80px;
}

.glutenFree {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 80px;
}

.title .vegan {
    position: relative;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.title .glutenFree {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

.picture {
    position: relative;
}

.quote {
    color: var(--link-color);
    font-style: italic;
    font-weight: bold;
    margin: 2%;
    text-align: center;
    font-size: 4vmin;
    padding-top: 5%;
}

.ingredients {
    border: 20px solid var(--link-hover-color);
    /*background: rgba(255, 219, 84, 0.19);*/
    /* padding: 10%;*/
    display: block;
    max-width: 100%;
    font-size: 20px;
    /*text-align: center;*/
    /*margin-right: auto;
    margin-left: auto;*/
}


.ingredients li {
    list-style: disc;
}

.instructions {
    border: 20px solid var(--color-4);
    /*background-color: rgba(255, 112, 203, 0.19);*/
    /* padding: 5%;*/
    /*padding-left: 10%;
    padding-right: 10%;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    font-size: 20px;
    /*text-align: justify;*/

}

.box {
    width: 100%;
    height: 10vmin;
}

.ingredients h3 {
    background-color: var(--link-hover-color);
    font-size: 30px;
    color: white;
}

.ing2 {
    padding: 10%;
}

.instructions h3 {
    background-color: var(--color-4);
    font-size: 30px;
    color: white;
}

.instr {
    padding: 5%;
}

.tips,
.tips2,
.tips3 {
    padding: 1.5%;
    margin-bottom: 0;
}

.here {
    color: var(--color-4);
}



@media only screen and (max-width:1050px){
    main{
        margin-top: 70px;
    }
    #subheader{
        font-size: 30px;
    }
 /*   .quote{
        font-size: 40px;
    }*/
}

@media only screen and (max-width:700px) {
    header img.front {
        max-width: 50%;
    }
    #subheader{
        font-size: 25px;
    }
    h2{
        font-size: 50px;
    }
}


@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu :nth-child(3) {
        order: -2;
    }
}

@media only screen and (max-width:500px){
    main{
        margin-top: 80px;
    }
}

@media only screen and (max-width:400px){
    main{
        margin-top: 90px;
    }
}
